.logo {
    width: 165px;
    margin-top: 0;
    height: 165px;
    margin-left: 20px;
    margin-top: 15px;

}

@font-face {
    font-family: 'Minecraft';
    src: url('Minecraftia-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'National-Bold';
    src: url('TestNational2-Thin.otf') format('truetype');
}
h1 {
    font-family: 'Minecraft', sans-serif;
    font-size: 75px;
    text-align: center;
    margin-top: 30px;
    margin-left: 375px;
    margin-bottom: 0;
    color: white;

}
header{
    display:flex;
    border: solid 1px white;
    border-radius: 20px;
    background-color: rgba(106, 170, 89, 0.5);
    backdrop-filter: blur(4px); /* Flou de l'arrière-plan derrière l'élément */
    padding-bottom: 0px;

}
body{
    background-image: url("plains_biome_day.png");
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
}
footer{
    bottom: 0;
}

.button-link {
    font-size: 18px;
    background-color: #008542;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: flex;
    margin-left: 625px;
    margin-top: 525px;
    width: 250px;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    font-family: "Arial", sans-serif;
    transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.button-link:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
    z-index: -1;
    background-color: #008542 ;
    box-shadow: 0 -4px rgb(21 108 0 / 50%) inset,
    0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset,
    4px 0 rgb(21 108 0 / 50%) inset;
}

.button-link:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.button-link:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.button-link:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.button-link:active {
    transform: translateY(4px);
}

.button-link:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

