.logo {
    width: 165px;
    margin-top: 0;
    height: 165px;
    margin-left: 20px;
    margin-top: 15px;

}

@font-face {
    font-family: 'Minecraft';
    src: url('Minecraftia-Regular.ttf') format('truetype');
}
h1 {
    font-family: 'Minecraft', sans-serif;
    font-size: 75px;
    text-align: center;
    margin-top: 30px;
    margin-left: 375px;
    margin-bottom: 0;
    color: white;

}
header{
    display:flex;
    border: solid 1px white;
    border-radius: 20px;
    background-color: rgba(106, 170, 89, 0.5);
    backdrop-filter: blur(4px); /* Flou de l'arrière-plan derrière l'élément */
    padding-bottom: 0px;

}
body{
    background-image: url("plains_biome_day.png");
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
}
footer{
    bottom: 0;
}
.button-link {
    display: inline-block; /* Rend le lien en mode bloc pour définir une largeur et une hauteur */
    padding: 10px 100px; /* Ajoute de l'espace autour du texte */
    background-color: #00a000; /* Couleur de fond (vert clair) */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement des liens */
    border: 3px solid #007700; /* Bordure plus foncée */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Ombre légère */
    font-size: 20px; /* Taille du texte */
    font-family: "Minecraft", sans-serif; /* Police du texte */
    text-align: center; /* Centre le texte */
}

.button-link:hover {
    background-color: #00b000; /* Change légèrement la couleur au survol */
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6); /* Accentue l'ombre */
}

.button-link:active {
    background-color: #007700; /* Couleur plus foncée quand on clique */

}