.logo {
    width: 175px;
    margin-top: 0;
    height: 175px;

}

@font-face {
    font-family: 'Minecraft';
    src: url('Minecraftia-Regular.ttf') format('truetype');
}
h1 {
    font-family: 'Minecraft', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 45px;
    margin-left: 450px;

    color: white;

}
header{
    display:flex;
    background-color: #278741;
    padding-bottom: 0px;

}

